<div class="notfound">
    <lottie-player src="../images/lottie/vault.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
    <h1>
        You must be logged in to view this page.       
    </h1>
</div>