    <div class="page-heading" style="background-image: url('../images/header-img-3.jpg');">
            <h1>About This Website</h1>          
    </div>

    <section class="about-website">
        <p>Diabetes@Home is a startup where we plan to provide digital health solutions to targeted health requirements. Our flagship product is a web app that helps people manage their diabetes in the convenience of their own home, by recording data that can be monitored remotely by their clinician.</p>
        <br>
        <p>To continue using the features of our app, users will need to be logged in. Please create an account and contact your clinician for further information.</p>
        <br>
    </section>

    <section class="team-section">
        <h2>Meet the team</h2>
        <p>
            We are a team of web developers aiming to provide users with the best experience.
        </p>
        <div class="team-container">
            <div class="card">
                <img src = "/images/Kian.jpg">
                <div class="card-text">
                    <h3>Kian Dsouza</h3>
                    <p>Developer</p>
                    <p>kiandsouza@me.com</p>
                    <p>I am Kian, a marketing technology enthusiast and I love walking my imaginary dog.</p>
                </div>
            </div>

            <div class="card">
                <img src = "/images/Sans.jpg">   
                <div class="card-text">
                    <h3>Sanskar Agarwal</h3>
                    <p>Developer</p>
                    <p>sanskaraagarwal@me.com</p>
                    <p>My name is Sanskar and I am interested in software development, watching soccer(Manchester United) and listening to music</p>
                </div>
            </div>

            <div class="card">
                <img src = "/images/sean-pic.jpg">   
                <div class="card-text">
                    <h3>Yi Sheon Tan (Sean)</h3>
                    <p>Developer</p>
                    <p>seantan@me.com</p>
                    <p>I am Yi Sheon, but you can call me Sean. My interests include software development and playing the guitar.</p>               
                </div>
            </div>

            <div class="card">
                <img src = "/images/Anh.jpg">
                <div class="card-text">
                    <h3>Anh Pham</h3>
                    <p>Developer</p>
                    <p>anhpham@me.com</p>
                    <p>I am Anh. Grab me when you want to try out a new foodie place or kdrama!</p>
                </div>
            </div>

            <div class="card">
                <img src = "/images/Nick.jpg">
                <div class="card-text">
                    <h3>Nicholas Dun</h3>
                    <p>Developer</p>
                    <p>nicdun@me.com</p>
                    <p>Hi, I'm Nic. I like programming, videogames and walking my dog.</p>
                </div> 
            </div>
        </div>

    </section>

    {{!-- <div class="footer">
        <a href="#" class="logo"><span style="color:black">D</span>@H</a>
        <p>Powered by INFO30005</p>
    </div> --}}