<div class="page-heading-1">
    <h1>Messages</h1>
</div>


<section class="support-message-section">
    <div class="support-message-patient-list">
        <h3>Patients</h3>
        <div class="message-patient-contact">
            John Smith
        </div>
    </div>
    <div class="support-message-main">
        <h3>Heading</h3>
        <div class="selected-patients">
            
        </div>
    </div>
</section>

