<input type="hidden" id="pd-dates" value="{{json groupedByDate}}" >

<div class="page-heading-1">
    <h1>Your Data</h1>
    <hr class="divider">
    <h2>
        You can view your progress for all your measurements, and 
        you can search and filter your measurements.
    </h2>
    <hr class="divider">
</div>

<section class="create-patient-section">
	<form action="/clinician/manage" method="POST">
		<div class="create-patient-container">

			<h3>Enter Patient Details</h3>
        </div>
    </form>
</section>