
{{#if loggedIn}}
{{> flashSuccess}}


{{>patientDrilldown}}
<h1>Record</h1>
<input type="checkbox"><label>Blood Glucose</label>
<br>
<input type="checkbox"><label>Weight</label>
<br>
<input type="checkbox"><label>Doses of Insulin</label>
<br>
<input type="checkbox"><label>Step Count</label>




{{else}}

{{> loggedOut}}

{{/if}}