 <div class="hero-section">    
        <div class="hero-text">
            <h1>Managing</h1>
            <h1> Diabetes is difficult.</h1>
            <h2>Our app makes it easy.</h2>
            <button type="button" id="login-hero"> Login </button>
        </div>
        <div class="hero-image">
            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_tutvdkg0.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player>
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        </div>
</div>

<div class="sect-header" style="background-image: url('../images/doctor-phone.jpg');">
    <h1>Features</h1>
</div>

<div class="feature-section">
    <div class = "feature-list-item">
        <div class="icon">
            <img src="../images/icons/medical-app.svg" alt="mobile-app">
        </div>
        <div class="caption">
            Record your blood glucose levels, weight, insulin doses and exercise
        </div>
    </div>
    <div class = "feature-list-item">
        <div class="icon">
            <img src="../images/icons/search.svg" alt="maginfying-glass">
        </div>
        <div class="caption">
            Easily view and track your health data with a click of a button
        </div>
    </div>
    <div class = "feature-list-item">
        <div class="icon">
            <img src="../images/icons/letter.svg" alt="letter">
        </div>
        <div class="caption">
            Receive personalised messages directly from your clinician
        </div>
    </div>
    <div class = "feature-list-item">
        <div class="icon">
            <img src="../images/icons/trophy.svg" alt="trophy">
        </div>
        <div class="caption">
            Participate in a leaderboard that challenges & motivates you to improve
        </div>
    </div>
</div>

<div class="contact-section">
    <h1>Sign in now to start your journey in defeating diabetes</h1>
    <h3>Interested in registering?</h3>
    <h3>Contact us at 04 123 456</h3>
</div>