<div class="page-heading" style="background-image: url('../images/header-img-2.jpg');">
            <h1>Log In</h1>          
</div>

<div class="log-in-section">
    <form action="/" class="log-in-form">
        <div class="input-box">
            <span class="label">E-mail</span>
            <div class="input">
                <input type="text" placeholder="name@example.com" required>
            </div>
        </div>

        <div class="input-box">
            <span class="label">Password</span>
            <div class="input">
              <input type="password" placeholder="Enter Password" id="pw" required>
            </div>
        </div>

        <button type="submit">Log In</button>

    </form>

</div>