 <div class="notfound">    
    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_n5q8wfa8.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
    <h1>
        Nothing to see here.        
    </h1>
    <form action="/">
    <button>LET'S GO HOME</button>
    </form>
</div>