<script src="/scripts/closeFlash.js"></script>
{{!-- <script src="../scripts/loader.js"></script> --}}
<script src="/scripts/patientDataFilter.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/scripts/patientChart.js"></script>


{{!-- <div class="loader-wrapper" id="loader">
    <span class="loader"><span class="loader-inner"></span></span>
</div> --}}

{{#if loggedIn}}
{{> flashSuccess}}

{{> patientDrilldown}}

{{> tablesCharts}}

{{else}}

{{> loggedOut}}

{{/if}}
