<section id="patient-dashboard">
    <h1>Dashboard</h1>
    <section id="patient-dashboard-content">
        
        <div id="patient-details">
            <img src="\images\male-profile.jpg">
            <p>John Smith</p>
            <p>Username123</p>
            <p>DOB: 10/10/1990</p>
        </div>

        <div class="patient-card">
            <div class="patient-card-label">
                <h3>Reminders</h3>
            </div>
            <div class="patient-card-content">
                <p>Today you need to:</p>
                <ul>
                    <li>Enter your blood glucose level</li>
                    <li>Enter your weight</li>
                    <li>Enter your insulin doses</li>
                </ul>
                <a href="/patient/record">Record measurements</a>
            </div>
        </div>

        <div class="patient-card">
            <div class="patient-card-label">
                <h3>Badges</h3>
            </div>
            <div class="patient-card-content">
                <div id="patient-badges">
                    <div class="patient-badge">
                        <img src="\images\icons\medal.svg">
                        <p>10 Day Streak</p>
                    </div>
                    <div class="patient-badge">
                        <img src="\images\icons\medal.svg">
                        <p>Top 1000</p>
                    </div>
                    <div class="patient-badge">
                        <img src="\images\icons\medal.svg">
                        <p>Step Smasher</p>
                    </div>
                    <div class="patient-badge">
                        <img src="\images\icons\trophy.svg">
                        <p>Gluc Yeh!</p>
                    </div>
                    <div class="patient-badge">
                        <img src="\images\icons\trophy.svg">
                        <p>Insulegend</p>
                    </div>
                    <div class="patient-badge">
                        <img src="\images\icons\trophy.svg">
                        <p>500 km club</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="patient-card">
            <div class="patient-card-label">
                <h3>Leaderboard</h3>
            </div>
            <div class="patient-card-content">
                <table class="leaderboard">
                    <tr>
                        <th>Position</th>
                        <th>Name</th>
                        <th>Engagement Rate</th>
                    </tr>
                    <tr>
                        <td id="first">1</td>
                        <td>Sanskar</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td id="second">2</td>
                        <td>Anh</td>
                        <td>40%</td>
                    </tr>
                    <tr>
                        <td id="third">3</td>
                        <td>Sean</td>
                        <td>35%</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Nic</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Kian</td>
                        <td>6%</td>
                    </tr>
                </table>
            </div>
        </div>

    </section>
</section>