<script src="../scripts/closeFlash.js"></script>
{{!-- <script src="../scripts/loader.js"></script> --}}
<script src="../scripts/patientDataFilter.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="../scripts/patientChart.js"></script>


{{!-- <div class="loader-wrapper" id="loader">
    <span class="loader"><span class="loader-inner"></span></span>
</div> --}}

{{#if loggedIn}}
{{> flashSuccess}}

{{> patientDrilldown}}

<h1>Range: {{max}} to {{min}} {{unit}}</h1>

<div class="notes-and-other-container">
    {{> tablesCharts}}

    {{> notes}}
</div>
<br>

{{else}}

{{> loggedOut}}

{{/if}}
