<section id="patient-dashboard">
    <h1>Dashboard</h1>
    <section id="patient-dashboard-content">
        
        <div id="patient-details">
            <img src="\images\male-profile.jpg">
            <p>John Smith</p>
            <p>Username123</p>
            <p>DOB: 10/10/1990</p>
        </div>

        <div class="patient-card">
            <div class="patient-card-label">
                <h3>Reminders</h3>
            </div>
            <div class="patient-card-content">
                <p>Today you need to:</p>
                <ul>
                    <li>Enter your blood glucose level</li>
                    <li>Enter your weight</li>
                    <li>Enter your insulin doses</li>
                </ul>
                <a href="/patient/record">Record measurements</a>
            </div>
        </div>

        <div class="patient-card">
            <div class="patient-card-label">
                <h3>Badges</h3>
            </div>
            <div class="patient-card-content">
                <p>10 day streak</p>
            </div>
        </div>

        <div class="patient-card">
            <div class="patient-card-label">
                <h3>Leaderboard</h3>
            </div>
            <div class="patient-card-content">
                <p>Pos</p>
            </div>
        </div>

    </section>
</section>