 <div class="page-heading-1">
    <h1>Record</h1>
    <hr class="divider">
    <h2>        
        Hello, {{singlePatient.first_name}}.
        In this page, you can record your health data. The data
        that you are required to enter is listed below. These 
        requirements are set by your clinician.
    </h2>
    <hr class="divider">
</div>

<div class="requirement-section">
    <div class="checklist-container">
        <h3>Today's required measurements</h3>

        {{#if singlePatient.bloodGluc}}
        <div class="requirement-checklist-item">
            <p>blood glucose level</p>
            <img src="../images/icons/circle.svg" alt="circle">
        </div>
        {{/if}}

        {{#if singlePatient.weight}}
        <div class="requirement-checklist-item">
            <p>weight</p>
            <img src="../images/icons/circle.svg" alt="circle">
        </div>
        {{/if}}

        {{#if singlePatient.exercise}}
        <div class="requirement-checklist-item">
            <p>exercise</p>
            <img src="../images/icons/circle.svg" alt="circle">
        </div>
        {{/if}}

        {{#if singlePatient.insulin}}
        <div class="requirement-checklist-item">
            <p>insulin doses</p>
            <img src="../images/icons/circle.svg" alt="circle">
        </div>
        {{/if}}
        
    </div>
</div>

<div class="record-container">
    <h2>Input your placeholder</h2>
    <div class="record-form">
        <form action="">
            <span class="label">Weight</span>
            <div class="record-input">
                <input type="number" placeholder="Enter Weight" required>
            </div>
            <span class="label">Comment</span>
            <div class="comment-input">
                <input type="number" placeholder="Enter Weight" required>
            </div>
            <button>Submit</button>
        </form>
    </div>
</div>

{{!-- TODO: RESPONSIVE DESIGN --}}



    
