 <div class="page-heading-1">
    <h1>Record</h1>
    <hr class="divider">
    <h2>        
        Hello, {{singlePatient.first_name}}.
        In this page, you can record your health data. The data
        that you are required to enter is listed below. These 
        requirements are set by your clinician.
    </h2>
    <hr class="divider">
</div>

<div class="requirement-section">
    <div class="checklist-container">
        <h3>Today's required measurements</h3>

        {{!-- {{#if todayData.type.localCompare("bcg") }} --}}

        {{#if singlePatient.req_measurements.bcg}}
        
        <div class="requirement-checklist-item">
            <p>blood glucose level</p>
            <img src="../images/icons/circle.svg" alt="circle">
        </div>
        {{/if}}

        {{#if singlePatient.req_measurements.weight}}
        <div class="requirement-checklist-item">
            <p>weight</p>
            <img src="../images/icons/circle.svg" alt="circle">
        </div>
        {{/if}}

        {{#if singlePatient.req_measurements.exercise}}
        <div class="requirement-checklist-item">
            <p>exercise</p>
            <img src="../images/icons/circle.svg" alt="circle">
        </div>
        {{/if}}

        {{#if singlePatient.req_measurements.insulin}}
        <div class="requirement-checklist-item">
            <p>insulin doses</p>
            <img src="../images/icons/circle.svg" alt="circle">
        </div>
        {{/if}}
        
    </div>
</div>

<div class="record-container">
    <h2>Input your placeholder</h2>
    <div class="record-form">
        <form action="/patient/record" method="post">  
            <div class="type-input">
                <input type="text" name="type" value="weight" readonly>
            </div>
            <span class="label">Weight</span>
            <div class="record-input">
                <input name="value" type="text" placeholder="Enter Weight" required>
            </div>
            <br>
            <span class="label">Comment</span>
            <div class="comment-input">
                <textarea name="comment" id="comment" cols="30" rows="5" placeholder="Enter comment here"></textarea>
            </div>
            <button class="record-button">Submit</button>
        </form>
    </div>
</div>

{{!-- TODO: RESPONSIVE DESIGN
            MAKE BUTTON DISABLED BY DEFAULT (GREYED OUT) AND ENABLE AND TURN BLUE WHEN INPUT TYPED.
            REMINDER TO INPUT MEASUREMENT
 --}}



    
